<div class="background-img bright-text">
  <div class="row page_block page_info_wrap">
    <div class="col-md-6">
      <div class="col-md-3">
        <%= image_tag @user.gravatar_url, class:'img-rounded' %>
      </div>
      <div class="col-md-3">
        <h2 class="page_name"><%=  @user.name  %></h2>
      </div>
    </div>
    <div class="col-md-6 page_block profile_info profile_info_short">
      <%= link_to 'Edit profile', edit_profile_path(@user)%>
      <div class="profile_info_row">Birth Date: <%= @user.birth_date %> </div>
      <div class="profile_info_row">Country: <%= @user.country %></div>
      <div class="profile_info_row">Language: <%= @user.language %></div>
      <div class="profile_info_row">Mobile: <%= @user.mobile %> </div>
    </div>
  </div>
</div>