<tr>
  <td><%= image_tag('file.jpg', size:'32x32', alt:'file') %><%= record.name %></td>
  <td><%= link_to "Download File", record.url %></td>
  <td><%= record.type %></td>
  <td><%= record.size %></td>

  <td class="dropdown">
      <button class="dropdown-toggle btn btn-default" type="button" data-toggle="dropdown" >
        Actions<b class="caret"></b>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Delete', record_path(record), method: :delete, data: { confirm: "Are you sure that you with to delete #{record.name}?" }%></li>
        <li><%= link_to 'Rename', '#',  data: { confirm: "Are you sure that you with to rename #{record.name}?" }%></li>
        <li class="divider"></li>
        <li><%= link_to 'Share', '#'%> </li>
      </ul>
  </td>
</tr>