<tr>
  <td class><%= image_tag('folder_icon_light_blue.png', size:'16x16', alt:'folder') %><%= record.name %></td>
  <td><%= link_to "Download File", record.url %></td>
  <td><%= record.type %></td>
  <td><%= record.size %></td>
  <td><%= record.owner%></td>

  <td class="dropdown">
      <button class="dropdown-toggle btn btn-default" type="button" data-toggle="dropdown" >
        Actions<b class="caret"></b>
      </button>
      <ul class="dropdown-menu">
        <li><%= button_to "Delete", record, method: :delete, class:'btn btn-block btn-link', data: { confirm: "Are you sure that you with to delete #{record.name}?" }%></li>
        <li><%= button_to "Rename", record, method: :delete, class:'btn btn-block btn-link', data: { confirm: "Are you sure that you with to rename #{record.name}?" }%></li>
        <li class="divider"></li>
        <li><%= button_to 'share', record,  method: :link, class: 'btn btn-block btn-link' %> </li>
      </ul>
  </td>
</tr>