<%= render 'shared/flash_notice' %>
<br />
<%= link_to "New file", new_record_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped" >
  <thead>
  <tr>
    <th>Name</th>
    <th>Download Link</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
    <% @records.each do |record| %>
    <tr>
      <td><%= record.name %></td>
      <td><%= link_to "Download File", record.attachment_url %></td>
      <td><%= button_to "Delete", record, method: :delete, class: "btn btn-danger", comfirm: "Are you sure that you with to delete #{record.name}?" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

